*{
    background-color: #dac449;
    font-family: monospace;
    margin: 0;
    padding: 0;
    border: none;
}
h1{
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}
img{
    width: 100px;
    height: 100px;
}
.box{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.box2{
    display: flex;
    width: 190px;
    height: 100px;
    margin: 5px;
}
.recipes-container{
    height: 150px;
    display: flex;
    justify-content: center;
}
.recipes-container div{
    margin: 5px;
}
.recipe{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3,#avalible{
    text-align: center;
}
a{
   text-decoration: none;
   color: rgb(14, 13, 13);
}
a>h3:hover{
    color: #09068b;
}